.navtab {
  height: 66px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #272727;
}

.navtab__link {
  color: #FFF;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-decoration-line: underline;
  text-underline-offset: 2px;
}

.navtab__link:hover{
  transition: opacity;
  opacity: .7 ;
}

.navtab__link_margin{
  margin-right: 40px;
}

@media screen and (max-width: 450px){
  .navtab__link_margin{
    margin-right: 24px;
  }

  .navtab__link {
    font-size: 11px;
  }
}